html, body {
  height: 100vh;
}

#root {
  height: 100%;
}
.App {
  text-align: center;
  font-family: monospace;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.AppHeader {
  color: maroon;
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.InputForm {
  background-color: grey;
  border: 1px solid black;
  padding: 10px;
  width: 600px;
  margin: 0 auto;
  flex: 1 1 auto;
}

.CardSelector {
  display: flex;
}

.FormWrapper {
  flex: 0 0 auto;
}

.TableWrapper {
  flex: 1 1 auto;
  overflow-y: scroll;
}

select {
  flex: 1 0 auto;
}

label {
  flex: 0 0 100px;
}

input {
  margin-top: 10px;
}

table {
  margin: 20px auto;
}

td {
  padding: 10px;
  border: 1px solid black;
}

thead {
  position: sticky;
  top: 0;
}

th {
  padding: 10px;
  border: 2px solid black;
}

td .BlackSuit {
  color: black;
}

td .RedSuit {
  color: red;
}